@import "@picocss/pico";
@import "@fontsource/tomorrow";
@import "@fontsource/major-mono-display";
@import "@fontsource/fira-mono";

:root {
	--pico-font-family: "Fira Mono", Consolas, monospace;
	--pico-font-family-emoji: "Major Mono Display", Consolas, monospace;
	--pico-font-family-sans-serif: Tomorrow, Roboto, Helvetica, Arial, sans-serif;
	--pico-font-family-monospace: "Fira Mono", Consolas, monospace;
	--pico-border-radius: 0rem;
}

body {
	font-family: var(--pico-font-family-monospace);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--pico-font-family-sans-serif);
}

.logo {
	font-family: var(--pico-font-family-emoji);
}
